* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    width: 100%;
    background-image: radial-gradient(ellipse at top, rgba(41, 41, 41, 0.7), transparent),
        radial-gradient(ellipse at bottom, rgba(31, 31, 31, 0.7), transparent);
    background-repeat: no-repeat;
    color: white;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #5a4f4f;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 170, 170);
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    color: #f5f5f5;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    background: radial-gradient(ellipse at center,
            rgba(249, 211, 180, 1) 0%,
            rgba(249, 211, 180, 0) 120%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-family: 'MuseoModerno', cursive;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    color: #9c9c9c;
}

h2 span {
    font-style: italic;
}

.search {
    position: relative;
    width: 200px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    border-radius: 1rem;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, .3);
    margin: 2rem 0 2rem 0;
}

.search input {
    outline: none;
    border: none;
    background-color: #202020;
    color: #c9c9c9;
    padding-left: .8rem;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

.search_button {
    color: #c9c9c9;
    cursor: pointer;
    margin-right: 10px;
}

.container {
    width: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 3rem;
}

.empty {
    text-align: center;
}

.empty h3 {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: #ccc;
    margin-top: .3rem;
    margin-bottom: 80vh;
}

.question_icon {
    position: absolute;
    left: 0;
    transform: translateX(-120%);
    color: #999;
    cursor: pointer;
}

.question_icon:hover .help{
    /* transform: scale(1, 1); */
    background-color: red;
    color: red;

}

.tip {
    position: absolute;
    padding: 9px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    background-color: #3b3b3b;
    border-radius: 50px;
    color: #f5f5f5;
    transition: transform ease-in 150ms;
    transform: scale(0, 1);
}

.tip_active {
    transform: scale(1, 1);
}

.loading {
    position: absolute;
    z-index: 1;
    top: 0;
    margin-top: 50vh;
}